body{
    
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image: url(images/people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: white;

}
.paragrap-text{
    color:white;
    text-align: center;
    padding: 0px 40px;
    
}
.btn-color{
    background-image: linear-gradient(red,yellow);
    font-size: 24px;
    color: white;
    padding: 10px 20px ;
    border-radius: 10px;
    
}
.donate-maney{
    text-align: center;
    padding: 30px 40px;
}
.help-money{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay-money{
    margin-left: 5px;
    padding: 50px;
    background-color: wheat;
    border-radius: 10px;

}
#unique-color{
    background-color: rgba(34, 63, 61, 0.897);
    border: 3px solid aqua;
    color: aqua;
}
.input-border{
    text-align: center;
   
}
.input-border input{
    border: none;
    outline: none;
    width: 800px;
    border-bottom: 2px solid red;
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
    
}
.Amount-section{
    text-align: center;
}
.donate-text{
    text-align: center;
}

.donate-plan{
    display: flex;
}
.second-section{
    width: 1200px;
    margin: auto;
    padding: 40px 0px;
}
.plan{
    background-color: aliceblue;
    margin-left: 5px;
    padding: 10px;
    border-radius: 5px;
}
#first-plan{
    background-color: rgba(163, 223, 223, 0.397);
}
#second-plan{
    background-color: rgba(226, 164, 226, 0.329);
}
#thired-plan{
    background-color:rgba(53, 53, 41, 0.178);
}
main{
    padding: 30px 0px;
}
.updates{
    text-align: center;
}
.Subscribes{
    background-color: antiquewhite;
    display: flex;
   justify-content: center;
   width: 800px;
   height: 300px;
   margin: auto;
   align-items: center;
   border-radius: 10px;
  
}
.subscriber-input{
    padding-right: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}
.subscriber-button{
    background-color: red;
    font-size: 20px;
    color: white;
    margin-left: -7px;
    border: none;
    outline: none;
}
.footer{
    padding: 20px;
    background-color: black;
    text-align: center;

}
.footer-orange{
    color: orange;

}
.footer-white{
color: white;
}
